* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 80px auto;
}

/**************************************************
    HEADER
**************************************************/
.header {
    background-color: #E5E5E5;
}

.header > h1 {
    font-weight: 200;
    text-align: center;
    margin: 0;
}

/**************************************************
    MAIN CONTENT
**************************************************/
.main-content {
    background-color: #FFF;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

/* PLAYER */
.player {
    grid-column: 1/2;
    text-align: center;
    align-items: center;
}

.player > h2 {
    font-weight: 300;
}

.player > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.player > ul > li {
    padding: 10px;
}

/* ICONS */
.sprite {
    display: inline-block; 
    vertical-align: middle;
    background-image: url(../img/prs.jpg); 
    background-position: left center; 
    background-repeat: no-repeat;
}

.sprite.papel {
    background-position: 0 0; 
    width: 50px; 
    height: 72px;
}

.sprite.piedra {
    background-position: -50px 0; 
    width: 50px; 
    height: 72px;
}

.sprite.tijeras {
    background-position: -100px 0; 
    width: 50px; 
    height: 72px;
    margin-top: 20px;
}

#papel {
    background-position: 0 0;
}

/* GAME BOARD */
.game-board {
    grid-column: 2/4;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
}

.score {
    grid-column: 1/-1;
}

.score > h5 {
    margin-top: 0;
    font-weight: 200;
}

.player-choice {
    grid-column: 1/2;
    border-right: 1px solid #000;
    justify-content: center;
}

.played > h5 {
    font-weight: 200;
    text-align: center;
}

.computer-choice {
    grid-column: 2/-1;
}

/* COMPUTER */
.computer {
    grid-column: 4/-1;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

.computer > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.computer > ul > li {
    padding: 10px;
}


/**************************************************
    OTROS DISPOSITIVOS
**************************************************/
@media(min-width:320px) {
    .container {
        grid-template-rows: 60px auto;
    }

    .header > h1 {
        font-size: 2.2em;
        padding-top: 10px;
    }

    .main-content {
        margin-top: 10px;
    }

    .main-content h1 {
        font-size: 0.8em;
        font-weight: 600;
        margin-top: 38px;
    }

    .main-content h2 {
        font-size: 0.7em;
    }

    .player, .computer {
        margin-top: 20px;
    }

    .computer > ul {
        margin-top: 43px;
    }

    .score > span {
        font-size: 3em;
    }
    
    .score > h5 {
        font-size: 1em;
    }

    .player-choice, .computer-choice {
        margin-top: 40px;
    }

    .played {
        margin-top: 85px;
    }
    
    .played > span {
        transform: scale(1.2);
    }
    
    .played > h5 {
        margin-top: 30px;
        font-size: 1.1em;
    }
}

@media(min-width:425px) {
    .computer > ul {
        margin-top: 31px;
    }
}

@media(min-width:768px) {
    .container {
        grid-template-rows: 80px auto;
    }

    .header > h1 {
        font-size: 4em;
        padding-top: 0;
    }

    .main-content {
        margin-top: 40px;
    }

    .main-content h1 {
        font-size: 2em;
        font-weight: 300;
        margin-top: 90px;
    }

    .main-content h2 {
        font-size: 1.3em;
    }

    .player, .computer {
        margin-top: 30px;
    }

    .computer > ul {
        margin-top: 63px;
    }

    .score > span {
        font-size: 4em;
    }
    
    .score > h5 {
        font-size: 1.4em;
    }

    .player-choice, .computer-choice {
        margin-top: 70px;
    }

    .played {
        margin-top: 150px;
    }
    
    .played > span {
        transform: scale(1.4);
    }
    
    .played > h5 {
        margin-top: 50px;
        font-size: 2em;
    }
}